<div class="row">
  <div id="info" class="span4">
    <h2>Class Info</h2>
    <p>Start: Tuesday, March 5</br>
        End: ######</br>Tuesdays and Thursdays, 6:30-9:30pm<p>
    <p>Location:</p>
    <address>
      New York Film Academy Rm ###</br>
      100 E 17th Street</br>
      New York, NY
    </address>

  </div>

  <div id="structure" class="span8">
    <h2>Class Structure</h2>
    <p>Classes will follow the basic structure laid out below. There will be a short breaks between Part A and Part B, as well as Part B and Part C. This structure is such to begin and end every week with student-driven conversations and work sessions, while sandwiching instructor driven lectures and scaffolding, to help transition students between guided and independent practice.</p>

    <h3>Tuesday Classes</h3>
    <ul>
      <li>Part A: Q&A, Current Events, Freeform Convo</li>
      <li>Part B: Design, Theory & Process</li>
      <li>Part C: Architecture & Environment Exploratory Sessions</li>
    </ul>

    <h3>Thursday Classes:</h3>
    <ul>
      <li>Part A: Syntax & Style</li>
      <li>Part B: Guided Debugging, Coding</li>
      <li>Part C: Work Session and/or Critique Session</li>
    </ul>
  </div>
</div>

<div id="instructor">
  <h2>Instructor: Ashley Williams</h2>
  <p>Ashley Williams is a Web Developer and User Experience engineer who's been flirting with the internet since the birth of Netscape Navigator. A heady theory-driven developer, Ashley is a strong advocate of the Future Friendly web dev/design movement and forever excited and inspired by the exponential growth and ubiquity of web-enabled devices. Currently, she consults, designs, and develops for several early stage NYC-based startups. Both a former NYC Teaching Fellow and a former technical product manager at a PhoneGap based mobile app dev startup, Ashley finds her happy-place at the intersection of education and technology.</p>

  <p>Ashley has an MS in Education from City College CUNY, a BA in Philosophy and Neuroscience from Wesleyan University, and a certificate in Graphic and Digital Design from Parsons. </p>

  <p>She'd love if you asked her how all those subjects fit together :)</p>
</div>