<h1> ze resrouces </h1>
<div class="row-fluid">
  <div class="yellow span4">
    <h2>Class Presentations</h2>
          <ul>
            <a href="#"><li>Day 3, Part C: From Scratch</li></a>
            <a href="#"><li>Day 3, Part B: Content Strategy and Wireframes</li></a>
            <a href="#"><li>Day 3, Part A: Homework Review</li></a>
            <a href="#"><li>Day 2.5, Review Session</li></a>
            <a href="#"><li>Day 2, Part D: Frontin' Fast and Furious</li></a>
            <a href="#"><li>Day 1, Part C: Get Legit</li></a>
            <a href="#"><li>Day 1, Part B: The Web is Agreement</li></a>
            <a href="#"><li>Day 1, Part A: Welcome and Class Info</li></a>
          </ul>
    <h2>HTML, CSS</h2>
    <h2>JS</h2>
    <h2>PHP</h2>
    <h2>Databases</h2>
    <h2>Ruby</h2>
    <h2>Rails, Sinatra, and Ruby frameworks</h2>
    <h2>Tools</h2>
    <h2>Design</h2>
    <h2>Programming Style and Architecture</h2>
    </div>
  <div class="blue span8">
          <ul>
            <a href="#"><li>Day 3, Part C: From Scratch</li></a>
            <a href="#"><li>Day 3, Part B: Content Strategy and Wireframes</li></a>
            <a href="#"><li>Day 3, Part A: Homework Review</li></a>
            <a href="#"><li>Day 2.5, Review Session</li></a>
            <a href="#"><li>
              <h3>Day 2, Part D: Frontin' Fast and Furious</h3>
              <iframe src="http://www.rvl.io/ag_dubs/html-css-syntax-and-style/embed" width="400" height="250" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </li></a>
            <a href="#"><li>
              <h3>Day 1, Part C: Get Legit</h3>
              <iframe src="http://www.rvl.io/ag_dubs/get-legit/embed" width="400" height="250" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </li></a>
            <a href="#"><li>
              <h3>Day 1, Part B: The Web is Agreement</h3>
              <iframe src="http://www.rvl.io/ag_dubs/the-web-is-agreement/embed" width="400" height="250" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </li></a>
            <a href="#"><li>
              <h3>Day 1, Part A: Welcome and Class Info</h3>
              <iframe src="http://www.rvl.io/ag_dubs/welcome-and-class-info/embed" width="400" height="250" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </li></a>
          </ul>
  </div>
</div>