<h1> Resources </h1>
<div class="row-fluid">
  <div class="yellow span4">
    <h3>Class Presentations</h3>
          <ul>
            <a href="#day3partE"><li>Day 3, Part E: Terminal, GitHub, and Twitter Bootstrap</li></a>
            <a href="#day3partB"><li>Day 3, Part B: Content Strategy and Wireframing</li></a>
            <a href="#day2half"><li>Day 2.5, Review Session</li></a>
            <a href="#day2partD"><li>Day 2, Part D: Frontin' Fast and Furious</li></a>
            <a href="#day1partC"><li>Day 1, Part C: Get Legit</li></a>
            <a href="#day1partB"><li>Day 1, Part B: The Web is Agreement</li></a>
            <a href="#day1partA"><li>Day 1, Part A: Welcome and Class Info</li></a>
          </ul>
    </div>
  <div class="blue span8 ">
          <ul class="media-list">
             <a href="#"><li id="day3partE">
              <h3>Day 3, Part E: Terminal, GitHub, and Twitter Bootstrap</h3>
              <iframe src="http://www.rvl.io/ag_dubs/fake-it-to-make-it/embed" width="400" height="250" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </li></a>
            <a href="#"><li id="day3partB">
              <h3>Day 3, Part B: Content Strategy and Wireframing</h3>
              <iframe src="http://www.rvl.io/ag_dubs/content-strategy-and-wire-framing/embed" width="400" height="250" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </li></a>
            <a href="#"><li id="day2half">
              <h3>Day 2.5, Review Session</h3>
              <iframe src="http://www.rvl.io/ag_dubs/review-1/embed" width="400" height="250" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </li></a>
            <a href="#"><li id="day2partD">
              <h3>Day 2, Part D: Frontin' Fast and Furious</h3>
              <a href="https://www.dropbox.com/s/at0a7cd9tpgevmj/NYCDA%20WebDev%20-%20Day2Exercises.zip"><h5>Download Exercises</h5></a>
              <iframe src="http://www.rvl.io/ag_dubs/html-css-syntax-and-style/embed" width="400" height="250" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </li></a>
            <a href="#"><li id="day1partC">
              <h3>Day 1, Part C: Get Legit</h3>
              <iframe src="http://www.rvl.io/ag_dubs/get-legit/embed" width="400" height="250" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </li></a>
            <a href="#"><li id="day1partB">
              <h3>Day 1, Part B: The Web is Agreement</h3>
              <iframe src="http://www.rvl.io/ag_dubs/the-web-is-agreement/embed" width="400" height="250" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </li></a>
            <a href="#"><li id="day1partA">
              <h3>Day 1, Part A: Welcome and Class Info</h3>
              <iframe src="http://www.rvl.io/ag_dubs/welcome-and-class-info/embed" width="400" height="250" scrolling="no" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </li></a>
          </ul>
  </div>
</div>