<div class="syllabus" id="part1">
  <h2>Part 1: Intro to Web Dev</h2>
  <ul>
    <li>Week 1: History // HTML, CSS, JS</li>
    <li>Week 2: Wireframes and Workflows // Layout and Nav</li>
    <li>Week 3: UX and Responsive Design // Browser Flags and Resets</li>
    <li>Week 4: Data as Dynamic Content // Forms and PHP</li>
    <li>Week 5: Review + Intro to Web Apps // GitHub</li>
  </ul>
</div>
<div class="syllabus" id="part2">
  <h2>Part 2: Ruby, Rails, and Active Record</h2>
  <ul>
    <li>Week 6: Intro to Programming // Ruby FizzBuzz</li>
    <li>Week 7: Templates // HAML, SASS, ERB</li>
    <li>Week 8: DSLs and MVCs // Sinatra and Single Serve apps</li>
    <li>Week 9: Databases // CRUD</li>
    <li>Week 10: Agile Development // ActiveRecord</li>
    <li>Week 11: Refactoring and Performance</li>
    <li>Week 12: APIs // Authentication with OAuth</li>
  </ul>
</div>
<div class="syllabus" id="part3">
  <h2>Part 3: Personal Projects</h2>
  <ul>
    <li>Week 13:  Writing User Stories // Creating Wireframes</li>
    <li>Week 14: Scaffolding Your App // Designing Your Database</li>
    <li>Week 15: Designing Your Views // QA + Testing</li>
    <li>Week 16: Presentations and Critique
  </ul>
</div>